.c-button-group {
    transition: background 0.3s ease;

    &:hover,
    &.active {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-3));
    }

    .btn {

        .active-group {
            opacity: 0.5;
        }
    }
}