.c-login {

    .group-comment {

        .comment {
            font-style: italic;
        }
    }

    .group-contact {
        align-items: center;
        color: hsl(var(--brand-h) var(--s-3) var(--dl-2));
        display: flex;
        font-family: $font-2;

        .icon {
            color: hsl(var(--brand-h) var(--s-3) var(--dl-2));
            margin-inline-end: $spacer-05;
        }
    }

    .verify {
        margin-top: $spacer-2;
    }
}