@mixin button($type, $intensity) {
    $l: 1, 5, 2;
    $l-active: 5, 4, 1;
    $l-disabled: 6, 6, 4;
    $border: 2px;

    &.variant-icon {
        color: hsl(var(--surface-h) var(--s-2) var(--dl-2));
        transition: all 0.3s ease-in;

        &.inactive {
            color: hsl(var(--surface-h) var(--s-2) var(--dl-2));
        }

        &:not(:disabled) {
            cursor: pointer;

            &.active {
                color: hsl(var(--#{$type}-h) var(--s-3) var(--l-2));
            }
        }
    }

    &.variant-menu {
        color: hsl(var(--surface-h) var(--s-2) var(--dl-2));

        &.size-s {

            svg {
                height: $icon-s;
                width: $icon-s;
            }
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:not(:disabled) {
            border-bottom: $border solid transparent;
            cursor: pointer;
            transition: all 0.3s ease;

            &::before {
                background: hsl(var(--#{$type}-h) var(--s-3) var(--dl-4));
            }

            &.active,
            &:hover {
                @include shadow-inset($type);

                background: hsl(var(--#{$type}-h) var(--s-3) var(--dl-c-2));
                color: hsl(var(--#{$type}-h) var(--s-3) var(--dl-3));

                svg {
                    color: hsl(var(--accent-h) var(--s-2) var(--dl-2));
                }

                &::before {
                    background: hsl(var(--accent-h) var(--s-3) var(--dl-1));
                    transform: scaleX(1);
                }
            }
        }
    }

    &.variant-toggle {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
        border: 2px solid hsl(var(--surface-h) var(--s-2) var(--dl-c-1));

        &.active,
        &:hover {
            @include shadow-inset($type);

            background: hsl(var(--#{$type}-h) var(--s-3) var(--dl-c-2));
            border: 2px solid hsl(var(--#{$type}-h) var(--s-2) var(--dl-2));
            color: hsl(var(--#{$type}-h) var(--s-3) var(--dl-3));
        }
    }
}

.c-button {
    position: relative;

    .context-submit {
        align-items: stretch;
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
        display: flex;
        height: $spacer-8;
        left: $spacer-8;
        min-width: 0;
        position: absolute;
        transition: min-width 0.3s ease;
        z-index: 10000;

        .field {
            display: none;

            textarea {
                border-bottom: 0;
                height: $spacer-8;
                overflow-y: hidden;
                padding: 0 $spacer-1;
            }
        }

        .btn-context-submit {
            align-items: center;
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
            cursor: pointer;
            display: none;
            visibility: hidden;
        }

        &.active {
            min-width: 250px;
            overflow: hidden;

            .field {
                display: block;
            }

            .btn-context-submit {
                display: inline-flex;
                visibility: visible;
            }
        }
    }

    &.size-d {
        height: $spacer-8;
        width: $spacer-8;
    }

    &.size-s {
        height: $spacer-6;
        width: $spacer-6;
    }

    &.variant-icon {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &.variant-menu {
        align-items: center;
        border-bottom: $border solid;
        display: flex;
        justify-content: center;
        position: relative;

        svg {
            color: hsl(var(--surface-h) var(--s-3) var(--dl-1));
            height: $icon-l;
            width: $icon-l;
        }

        &::before {
            bottom: calc(-1 * $border);
            content: "";
            height: $border;
            left: 0;
            position: absolute;
            right: 0;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: transform 150ms;
            will-change: transform;
        }
    }

    &.variant-toggle {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: $spacer-6;
        justify-content: center;
        transition: all 0.3s ease;
        width: $spacer-6;

        svg {
            color: hsl(var(--surface-h) var(--s-3) var(--dl-1));
            height: $icon-d;
            width: $icon-d;
        }

        &.active,
        &:hover {
            border: 2px solid hsl(var(--accent-h) var(--s-3) var(--dl-1));

            svg {
                color: hsl(var(--accent-h) var(--s-2) var(--dl-2));
            }
        }
    }

    &.type-info {
        &.intensity-light { @include button("info", "light"); }
        &.intensity-medium { @include button("info", "medium"); }
        &.intensity-heavy { @include button("info", "heavy"); }
    }

    &.type-warn {
        &.intensity-light { @include button("warn", "light"); }
        &.intensity-medium { @include button("warn", "medium"); }
        &.intensity-heavy { @include button("warn", "heavy"); }
    }
}
