.icon-chat-unread-path {
    color: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
}

.icon-chat-unread-text {
    color: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
    font: 600 9px sans-serif;
}