.icon {
    fill: currentcolor;
    height: 40px;
    outline: none;
    width: 40px;

    &.warning {
        color: hsl(var(--warn-h) var(--s-3) var(--dl-4));
    }

    &.error {
        color: var(--error-4);
    }

    &.icon-xs {
        height: calc($spacer-1 * 1.75);
        width: calc($spacer-1 * 1.75);
    }

    &.icon-s {
        height: calc($spacer-1 * 2.5);
        width: calc($spacer-1 * 2.5);
    }

    &.icon-d {
        height: calc($spacer-1 * 3.5);
        width: calc($spacer-1 * 3.5);
    }

    &.icon-l {
        height: 50px;
        width: 50px;
    }

    &.icon-xxl {
        height: 100px;
        width: 100px;
    }
}
