.c-field-multiselect {

    select {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-4));
        border: 1px solid hsl(var(--surface-h) var(--s-1) var(--l-1));
        color: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
        font-size: var(--font-d);
        min-width: 160px;
    }
}