.c-field-number {

    input {
        background: none;
        border: none;
        border-bottom: $border solid hsl(var(--surface-h) var(--s-1) var(--l-1));
        color: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
        max-width: 80px;
        outline: none;
        padding: $spacer-05;
    }
}