.c-field-radio-group {

    .options {

        .option {

            label {
                color: hsl(var(--surface-h) var(--s-1) var(--dl-3));
            }

            input:checked + label {
                color: hsl(var(--brand-h) var(--s-3) var(--dl-2));
            }
        }
    }
}