.c-field-slider {
    align-items: center;
    display: flex;
    height: $spacer-6;
    justify-content: center;
    outline: none;
    overflow: hidden;

    .track {
        background: $inactive-1;
        height: $spacer-6;
        overflow: visible;
        position: relative;
        width: 8px;

        &:hover {
            cursor: ns-resize;
        }
    }

    .thumb {
        background: $inactive-3;
        border-radius: 50%;
        height: $spacer-1;
        position: absolute;
        width: $spacer-1;
    }

    .icon.locked {
        bottom: 0;
        color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        margin-bottom: -18px;
        margin-inline-start: -3px;
        position: absolute;
        z-index: 1000;

        &:hover {
            cursor: pointer;
        }
    }

    &.active {

        .track {
            background: $active-1;
        }

        .thumb {
            background: $active-2;
        }
    }
}