.c-field-textarea {
    display: flex;
    flex-direction: column;
    overflow: auto;

    textarea {
        background: none;
        border: none;
        border-bottom: $border solid hsl(var(--surface-h) var(--s-1) var(--l-1));
        color: hsl(var(--surface-h) var(--s-1) var(--dl-1));
        font-size: 1rem;
        outline: none;
        transition: border 0.5s ease;
        width: 100%;

        &::placeholder {
            font-size: $font-s;
        }

        &[readonly] {
            border-bottom: $border solid transparent;
        }

        &:focus {
            border-bottom: $border solid hsl(var(--brand-h) var(--s-3) var(--dl-4));
        }
    }

    .icon {

        &:hover {
            cursor: pointer;
        }

        &.active {
            color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        }
    }

    .field-label {
        font-family: $font-2;
        margin: $spacer-1 0;
        text-transform: capitalize;
    }

    .help {

        &::first-letter {
            text-transform: capitalize;
        }
    }
}