.c-panel-chat {
    backdrop-filter: blur($overlay-blur);
    border-left: $border solid hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 375px;
    position: absolute;
    right: $spacer-8;
    z-index: 1000;

    .messages {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3) / #{$overlay-opacity});
        flex: 1;
        overflow-x: hidden;
        overflow-y: scroll;

        .message {
            padding: $spacer-2;
            padding-bottom: 0;
            position: relative;

            &.default {
                color: hsl(var(--surface-h) var(--s-1) var(--dl-2));

                & header {
                    align-items: center;
                    color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
                    display: flex;
                    font-family: $font-2;
                    font-size: $font-s;
                    font-weight: 600;
                    justify-content: space-between;
                    margin-bottom: $spacer-05;

                    .author {
                        text-transform: uppercase;
                    }

                    .time {
                        font-size: $font-xs;
                    }
                }

                & section {
                    overflow: hidden;
                }
            }

            &.command {
                background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
                color: hsl(var(--surface-h) var(--s-1) var(--dl-1));
                font-size: $font-s;
            }

            &.me {
                background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
                color: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
                display: flex;
                font-family: $font-2;
                font-size: $font-s;
                font-style: italic;
                margin-inline-start: 0;
                margin-inline-end: 0;
                padding: $spacer-2 var($spacer-3);

                .text {
                    flex: 1;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                .time {
                    align-self: flex-end;
                    color: hsl(var(--surface-h) var(--s-1) var(--l-1));
                }
            }
        }
    }

    .chat-channels {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
        border-bottom: $border solid hsl(var(--surface-h) var(--s-1) var(--l-1));
        display: flex;
        height: $spacer-8;
        width: 100%;

        .chat-channel {
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
            border: $border solid hsl(var(--surface-h) var(--s-1) var(--l-1));
            color: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
            display: flex;
            font-family: $font-2;
            margin: $spacer-1;
            padding: $spacer-1;
            user-select: none;

            .author {
                font-family: $font-1;
            }

            .channel-name {
                align-items: center;
                display: flex;

                .icon {
                    margin-inline-end: $spacer-1;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &.active {
                background: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
                color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
            }

            .btn-close {
                margin-inline-start: $spacer-1;
            }
        }
    }

    .chat-actions {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));

        .btn-menu {
            background: hsl(var(--surface-h) var(--s-1) var(--l-1));
            height: 30px;

            &.active {
                background: hsl(var(--brand-h) var(--s-3) var(--dl-4));
            }
        }
    }

    .send {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
        display: flex;
        padding-bottom: $border;

        button {
            align-items: center;
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
            display: flex;
            height: $spacer-8;
            justify-content: center;
            padding: 0;
            width: $spacer-6;

            &:not([disabled]):hover {
                cursor: pointer;
            }
        }

        textarea {
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
            border: none;
            color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
            flex: 1;
            font-family: $font-2;
            height: $spacer-8;
            margin: 0;
            outline: none;
            overflow-y: hidden;
            padding: $spacer-1;

            &::placeholder {
                color: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
            }
        }
    }
}