.c-conference-app {
    height: 100vh;
    width: 100vw;

    &.panel-chat-toggle {
        overflow: hidden;
        resize: none;

        .c-panel-chat {
            min-width: auto;
            opacity: 0.75;

            * {
                overflow: auto;
                overflow-x: hidden;
                resize: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
} 