@import "./lib/variables";
@import "./lib/utilities";
@import "./elements/animations";
@import "./elements/checkbox";
@import "./elements/content";
@import "./elements/context-menu";
@import "./elements/document";
@import "./elements/forms";
@import "./elements/table";
@import "./elements/tabs";
@import "./elements/tooltip";
@import "./elements/misc";
@import "./elements/permissions";

@mixin theme-light {
    // Dark range; foreground color lights
    --s-1: 50%;
    --s-2: 60%;
    --s-3: 90%;

    // Dark/light ranges; contrast colors are mostly backgrounds.
    --dl-1: 30%;
    --dl-2: 35%;
    --dl-3: 40%;
    --dl-4: 50%;
    --dl-c-1: 72%;
    --dl-c-2: 80%;
    --dl-c-3: 85%;
    --dl-c-4: 93%;
    --shadow-m: 0 4px #{$spacer-2} hsl(var(--surface-h) var(--s-1) 35%);
    --shadow-l: 0 4px #{$spacer-1} hsl(var(--surface-h) var(--s-1) 80%);
    --shadow-r: 0 -4px #{$spacer-1} hsl(var(--surface-h) var(--s-1) 80%);
}

@mixin theme-dark {
    // The ranges are inverted & adjusted from ranges in theme-light
    // Light range; inverted & adjusted dark range theme-light
    --s-1: 20%;
    --s-2: 60%;
    --s-3: 90%;

    // Dark/light ranges
    --dl-1: 80%;
    --dl-2: 72%;
    --dl-3: 60%;
    --dl-4: 50%;
    --dl-c-1: 20%;
    --dl-c-2: 16%;
    --dl-c-3: 12%;
    --dl-c-4: 7%;
    --shadow-m: 0 4px #{$spacer-2} hsl(var(--surface-h) var(--s-1) 15%);
    --shadow-l: 0 4px #{$spacer-1} hsl(var(--surface-h) var(--s-1) 15%);
    --shadow-r: 0 -4px #{$spacer-1} hsl(var(--surface-h) var(--s-1) 15%);
}

@media (prefers-color-scheme: dark) {

    .theme-system {
        @include theme-dark;
    }
}

@media (prefers-color-scheme: light) {

    .theme-system {
        @include theme-light;
    }
}

.app {    
    // The theme...
    // - 3 saturation levels
    // - 3 light levels
    // - 2 dark/light mode ranges (x4 lights)
    // - 1 brand color
    // - 1 accent color (split complementary #1)
    // - 1 surface color (spl complementary #2)
    // - 2 signalling colors: info, warn
    // - 2 shad
    --l-1: 20%;
    --l-2: 45%;
    --l-3: 90%;
    --surface-h: 194deg;
    --brand-h: 194deg;
    --accent-h: calc(var(--brand-h) - 180deg + 30deg);

    // Signal colors; both info and warn should be based on brand, accent or
    // surface, depending of which one is a cool color(info) or a warm
    // color(warn).
    --info-h: var(--accent-h);
    --warn-h: 3deg;

    &.theme-dark {
        @include theme-dark;
    }

    &.theme-light {
        @include theme-light;
    }
}
