// Source: https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    input[type="checkbox"],
    input[type="radio"] {
        appearance: none;
        background: hsl(var(--surface-h) var(--s-2) var(--l-1));
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        height: 22px;
        margin: 0;
        margin-inline-end: $spacer-1;
        outline: unset;
        position: relative;
        transition: all 0.3s ease;
        width: 22px;

        &::after {
            content: "";
            left: -2px;
            opacity: 0;
            position: absolute;
            top: -2px;
            transition: all 0.3s ease;
        }

        &:checked {
            background: hsl(var(--accent-h) var(--s-3) var(--dl-c-1));
            border-color: hsl(var(--accent-h) var(--s-3) var(--dl-1));

            &::after {
                opacity: 1;
            }
        }

        &:disabled {
            background: hsl(var(--brand-h) var(--s-3) var(--dl-2));
            cursor: not-allowed;
            opacity: 0.9;

            &:checked {
                border-color: hsl(var(--accent-h) var(--s-3) var(--dl-2));
            }

            & + label {
                cursor: not-allowed;
            }
        }

        &:hover {

            &:not(:checked) {

                &:not(:disabled) {
                    border-color: hsl(var(--accent-h) var(--s-3) var(--dl-2));
                }
            }
        }

        &:focus {
            box-shadow: $focus-glow;
        }

        & + label {
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            line-height: 22px;
            user-select: none;
            vertical-align: top;
        }
    }

    input[type="checkbox"] {
        border-radius: 7px;

        &::after {
            border: 2px solid hsl(var(--accent-h) var(--s-3) var(--dl-3));
            border-left: 0;
            border-top: 0;
            height: 9px;
            left: 7px;
            top: 4px;
            transform: rotate(var(--r, 20deg));
            width: 5px;
        }

        &:checked {
            --r: 43deg;
        }
    }

    input[type="radio"] {
        border-radius: 50%;

        &::after {
            background: hsl(var(--accent-h) var(--s-3) var(--dl-1));
            border-radius: 50%;
            height: 24px;
            opacity: 0;
            transform: scale(0.7);
            width: 24px;
        }

        &:checked {

            &::after {
                transform: scale(0.4);
            }
        }
    }
}
