.context-menu {
    display: flex;
    flex-direction: column;
    position: relative;

    &.active {

        button > svg,
        > svg {
            color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        }
    }

    > .icon {
        align-self: center;
        margin: $spacer-1;
        transition: all 0.25s ease-in;

        &:hover {
            color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
            cursor: pointer;
        }
    }

    .context-actions {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
        border: $border solid hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        left: 50%;
        margin-inline-start: $spacer-4;
        position: absolute;
        z-index: 10000;

        .field {
            padding: 0;
        }

        .action {
            align-items: center;
            background: none;
            color: hsl(var(--surface-h) var(--s-1) var(--dl-2));
            display: flex;
            font-family: $font-2;
            font-size: $font-s;
            margin: 0;
            overflow: auto;
            padding: $spacer-05 0;
            text-align: left;
            user-select: none;
            width: 200px;

            svg {
                color: hsl(var(--brand-h) var(--s-1) var(--dl-4));
                height: calc($spacer-1 * 2.5);
                margin: $spacer-1;
                width: calc($spacer-1 * 2.5);
            }

            &:hover {
                // @include shadow-inset(accent);

                background: hsl(var(--surface-h) var(--s-2) var(--dl-c-2));

                // background: hsl(var(--accent-h) var(--s-3) var(--dl-c-2));
                cursor: pointer;

                svg {
                    color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
                }
            }

            &[disabled] {
                color: hsl(var(--surface-h) var(--s-1) var(--dl-4));

                &:hover {
                    background: none;
                    cursor: not-allowed;
                }

                & svg {
                    color: hsl(var(--surface-h) var(--s-1) var(--dl-4));
                }
            }
        }
    }
}
