.content {
    background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 700px;

    header {
        align-items: center;
        background: hsl(var(--surface-h) var(--s-2) var(--l-1));
        color: hsl(var(--accent-h) var(--s-3) var(--l-3));
        display: flex;
        font-family: $font-2;
        font-weight: 600;
        height: $spacer-8;
        justify-content: space-between;
        padding-left: $spacer-2;
        text-transform: uppercase;

        .c-hint {
            color: hsl(var(--surface-h) var(--s-1) var(--l-2));
        }

        .title {
            align-items: center;
            display: flex;
            gap: $spacer-2;
            height: $spacer-8;
            margin-inline-end: $spacer-15;
        }
    }

    section {
        height: calc(100vh - $spacer-8);
        overflow-y: scroll;
        padding: $spacer-2;

        &.no-results {
            align-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            font-family: $font-2;
            font-size: $font-xl;
            padding: $spacer-4;

            svg {
                color: hsl(var(--surface-h) var(--s-1) var(--l-1));
            }

            span {
                color: hsl(var(--surface-h) var(--s-1) var(--l-1));
            }
        }
    }

    .panels {
        display: flex;
        flex: 1;

        section {
            flex: 1;
        }

        .actions {
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
        }
    }
}
