::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--brand-h) var(--s-3) var(--dl-4));
}

.scroller {
    scrollbar-color: hsl(var(--brand-h) var(--s-3) var(--dl-4)) transparent;
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: $font-1;
    font-size: $font-d;
    margin: 0;
    outline: none;

    /** The js grid needs some time to catch up. */
    overflow-x: hidden;
}

textarea {
    padding: 0;
    resize: none;

    &:focus {
        outline: none;
    }
}

button {
    background: none;
    border: 0;
    color: unset;
    font-size: $font-d;
}

.app {
    align-items: stretch;
    background: hsl(var(--surface-h) var(--s-1) var(--dl-c-4));
    color: hsl(var(--surface-h) var(--s-1) var(--dl-1));
    display: flex;
    height: 100vh;
    overflow: hidden;

    * ::selection {
        background: hsl(var(--brand-h) var(--s-3) var(--l-1));
        color: hsl(var(--accent-h) var(--s-2) var(--l-3));
    }

    a {
        color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        text-decoration: none;
    }
}
