.field {
    padding: $spacer-1 0;

    .label-container {
        align-items: center;
        display: flex;
    }

    label,
    .field-label {
        color: hsl(var(--surface-h) var(--s-1) var(--dl-1));
        display: inline-block;
        font-family: $font-2;
        margin-bottom: $spacer-05;
        text-transform: capitalize;
    }

    .help {
        color: hsl(var(--surface-h) var(--s-1) var(--dl-2));
        font-size: $font-s;
        font-style: italic;
        margin-top: $spacer-05;
    }
}

.no-options-warning {
    background: hsl(var(--surface-h) var(--s-1) var(--dl-2));
    border: 2px dashed hsl(var(--surface-h) var(--s-1) var(--l-1));
    flex: 1;
    font-size: $font-s;
    margin: $spacer-1 0;
    padding: $spacer-1;
    width: 100%;

    .explanation {
        display: flex;
        flex-direction: column;
        gap: $spacer-05;
    }
}

.env-warning {
    color: hsl(var(--warn-h) var(--s-3) var(--dl-4));
    font-size: $font-s;
    margin-top: $spacer-1;
}
