.permissions {

    .permission-group {
        align-items: center;
        display: flex;
        padding: $spacer-1 0;

        .group-name {
            color: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
            cursor: pointer;
            flex: 1;
            user-select: none;

            &:hover {
                color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
            }
        }

        .categories {
            align-items: center;
            display: flex;
            flex: 2;

            .category {
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0 $spacer-1;
                width: 75px;

                svg {
                    width: calc($spacer-2 + 21px);

                    &:hover {
                        color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
                    }
                }

                input {
                    margin-inline-end: 0;
                }
            }
        }
    }
}
