.tabs {
    background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
    border-bottom: $border solid hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
    display: flex;
}

.tabs-content {
    display: flex;

    .actions {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
    }
}

.tab-content {
    display: none;
    flex: 1;
    height: calc(100vh - $spacer-8 * 2);
    overflow-y: scroll;

    &.active {
        display: block;
    }
}
