.table {
    border: 1px solid hsl(var(--surface-h) var(--s-1) var(--l-1));
    padding: $spacer-1;


    .header {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
        color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        display: flex;
        font-family: $font-2;
        font-weight: 600;
    }

    .cell {
        flex: 1;
        gap: $spacer-1;
        padding: $spacer-1;
    }

    .row {
        display: flex;

        *:hover {
            cursor: pointer;
        }

        &:nth-child(even) {
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));

            &:hover {
                background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
            }
        }

        &:nth-child(odd) {
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));

            &:hover {
                background: hsl(var(--surface-h) var(--s-1) var(--l-1));
            }
        }

        &.selected {
            background: hsl(var(--surface-h) var(--s-1) var(--l-1));

            &:hover {
                background: hsl(var(--surface-h) var(--s-1) var(--l-1));
            }
        }
    }
}
