.tippy-box[data-animation="fade"][data-state="hidden"] {
    opacity: 0;
}

[data-tippy-root] {
    max-width: calc(100vw - 10px);
}

.tippy-box {
    background-color: hsl(var(--surface-h) var(--s-2) var(--l-1));
    border-radius: $spacer-05;
    box-shadow: $shadow-s;
    color: hsl(var(--accent-h) var(--s-2) var(--l-3));
    font-family: $font-2;
    font-size: $font-d;
    line-height: 1.4;
    outline: 0;
    position: relative;
    transition-property: transform, visibility, opacity;
    white-space: normal;
}

.tippy-box[data-placement^="top"] > .tippy-arrow {
    bottom: 0;
}

.tippy-box[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: initial;
    border-width: 8px 8px 0;
    bottom: -7px;
    left: 0;
    transform-origin: center top;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow {
    top: 0;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: initial;
    border-width: 0 8px 8px;
    left: 0;
    top: -7px;
    transform-origin: center bottom;
}

.tippy-box[data-placement^="left"] > .tippy-arrow {
    right: 0;
}

.tippy-box[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: initial;
    border-width: 8px 0 8px 8px;
    right: -7px;
    transform-origin: center left;
}

.tippy-box[data-placement^="right"] > .tippy-arrow {
    left: 0;
}

.tippy-box[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: initial;
    border-width: 8px 8px 8px 0;
    left: -7px;
    transform-origin: center right;
}

.tippy-box[data-inertia][data-state="visible"] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
    color: hsl(var(--surface-h) var(--s-2) var(--l-1));
    height: 16px;
    width: 16px;
}

.tippy-arrow::before {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute;
}

.tippy-content {
    padding: 5px 9px;
    position: relative;
    z-index: 1;
}
