.c-context-input {

    &-fade-active,
    &-fade-leave-active {
        transition: opacity 0.25s ease-out;
    }

    &-fade-enter-from,
    &-fade-leave-to {
        opacity: 0;
    }

    .action-input {
        display: flex;
        flex: 1;
        position: relative;

        .field {
            padding: 6px 0;

            input {
                padding: 8px 0;
            }
        }

        .btn {
            bottom: calc($spacer-1 * 1.5);
            padding: 0;
            position: absolute;
            right: $spacer-1;
        }
    }
}
