.loading-transition-enter-active,
.loading-transition-leave-active {
    transition: opacity 0.5s;
}

.loading-transition-enter,
.loading-transition-leave-to {
    opacity: 0;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.c-stream {
    display: flex;
    flex-direction: column;
    justify-items: center;
    overflow: hidden;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &.enlarged {
        // border: 2px solid hsl(var(--brand-h) var(--s-3) var(--dl-4));
        max-height: 90%;
        opacity: 0.95;
        position: absolute;
        transform: scale(1.5);
        transition: 0.3s ease-in-out;
        z-index: 1000;

        .stream-options,
        .user-info {
            display: none;
        }
    }

    video {
        border: none;
        opacity: 1;
        transition: opacity 0.3s;

        &.loading {
            opacity: 0;
        }
    }

    &.audio {
        // No video-track; just use it to play audio, but show a
        // branding icon to indicate this is audio-only.

        .media {
            display: none;
        }
    }

    .media-container,
    .loading-container {
        align-items: center;
        aspect-ratio: 4 / 3;
        background: $inactive-1;
        display: flex;
        height: 100%;
        justify-content: center;
        object-fit: cover;
        position: absolute;
        width: 100%;

        .icon {
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 40%));
            height: 50%;
            width: 50%;
        }

        .spinner {
            animation-duration: 0.75s;
            animation-iteration-count: infinite;
            animation-name: spinner;
        }
    }

    .loading-container {

        .icon {
            color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        }
    }

    .user-info {
        align-items: center;
        background: hsl(var(--surface-h) var(--s-1) var(--dl-1) / 30%);
        bottom: 0;
        display: flex;
        min-width: 0;
        position: absolute;
        transition: all 0.5s ease;

        .soundmeter,
        .volume-slider {
            background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3) / 30%);
        }

        .soundmeter {
            border: none;
            height: $spacer-6;
            margin: 0;
            width: 8px;
        }

        .volume-slider {

            .track {
                background: none;
            }
        }

        .user {
            align-items: center;
            color: hsl(var(--brand-h) var(--s-3) var(--dl-4));
            display: flex;
            flex: 1;
            font-family: $font-2;
            font-size: $font-s;
            font-weight: 600;
            height: $spacer-6;
            margin-inline-start: $spacer-1;
            margin-inline-end: $spacer-1;
            text-align: right;
            text-transform: uppercase;
            user-select: none;
        }
    }

    .stream-options {
        background: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
        bottom: 0;
        display: flex;
        position: absolute;
        right: 0;
        transform: translateY($spacer-6);
        transition: 0.3s ease-in-out;

        button {
            color: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
            cursor: pointer;
        }

        &.active {
            transform: translateY(0);

            .buttons {
                display: flex;
            }
        }
    }
}