.c-progress {
    background: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
    position: relative;
    width: 100%;

    .bar {
        background: hsl(var(--brand-h) var(--s-3) var(--dl-4));
        height: var($spacer-3);
    }

    .boundaries {
        align-items: center;
        color: hsl(var(--surface-h) var(--s-1) var(--dl-c-3));
        display: flex;
        font-size: $font-s;
        font-weight: 600;
        height: var($spacer-3);
        justify-content: space-between;
        padding: 0 $spacer-1;
        position: absolute;
        top: 0;
        width: 100%;
    }
}