<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <meta name="theme-color" content="hsl(210 30% 84%)"/>
  <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
  <link rel="shortcut icon" type="image/svg+xml" sizes="32x32" href="/img/logo.svg" />
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/app.<%= settings.buildId %>.css">
  <link rel="stylesheet" href="/components.<%= settings.buildId %>.css">
</head>
<body>
  <div id="app"></div>
  <script src="/app.<%= settings.buildId %>.js" defer=""></script>
  <%if (settings.dev.enabled) { %><script src="/livereload.js"></script><% } %>
  <script src="/sw-loader.js"></script>
</body>
</html>
