.uc {
    text-transform: capitalize;
}


.uca {
    text-transform: uppercase;
}

.ucfl {

    &::first-letter {
        text-transform: uppercase;
    }
}

.mb-1 { margin-bottom: $spacer-2; }
.mb-2 { margin-bottom: $spacer-4; }
.mb-3 { margin-bottom: $spacer-6; }
