// Variables that don't have to be dynamic shouldn't be dynamic;
// they have a cost in terms of rendering performance.

// Spacing units
$border: 2px;
$spacer-05: 4px;
$spacer-1: 8px;
$spacer-15: 12px;
$spacer-2: 16px;
$spacer-3: 24px;
$spacer-4: 32px;
$spacer-5: 40px;
$spacer-6: 48px;
$spacer-8: 64px;

// Fonts & sizes
$font-1: "Roboto";
$font-2: "Oswald", sans-serif;
$font-xs: 0.65rem;
$font-s: 0.8rem;
$font-d: 1rem;
$font-l: 1.15rem;
$font-xl: 2rem;
$font-xxl: 4rem;

// Opacity & shadows
$overlay-opacity: 60%;
$overlay-blur: 8px;
$panel-bg: hsl(var(--surface-h) var(--s-1) var(--dl-c-2));
$inactive-1: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
$inactive-2: hsl(var(--surface-h) var(--s-2) var(--dl-c-1));
$inactive-3: hsl(var(--surface-h) var(--s-2) var(--dl-4));
$active-1: hsl(var(--accent-h) var(--s-3) var(--dl-c-2));
$active-2: hsl(var(--accent-h) var(--s-2) var(--dl-2));
$focus-glow-disabled: 0 0 2px 4px hsl(var(--surface-h) var(--s-2) var(--dl-4) / 20%);
$focus-glow: 0 0 2px 4px hsl(var(--accent-h) var(--s-2) var(--dl-c-1));
$shadow-s: 0 0 $spacer-1 $spacer-1 rgb(0 0 0 / 20%);
$shadow-r: 20px 20px 20px 10px rgb(0 0 0 / 80%);
$icon-s: 16px;
$icon-d: 20px;
$icon-l: $spacer-3;

@mixin shadow-inset($type) {
    box-shadow: inset 0 1px 1px hsl(var(--#{$type}-h) var(--s-3) var(--dl-c-3)),
        inset 0 8px 16px -4px hsl(var(--#{$type}-h) var(--s-3) var(--dl-c-3)),
        inset 0 -1px 1px hsl(var(--#{$type}-h) var(--s-3) var(--dl-c-3));
}
