.c-soundmeter {
    border: 1px solid hsl(var(--surface-h) var(--s-1) var(--l-1));
    height: $spacer-1;
    margin: $spacer-1;
    width: 100%;

    &.vertical {
        transform: scale(-1, -1);
    }
}