.c-admin-controls {
    align-items: center;
    background: $panel-bg;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding-bottom: $spacer-1;

    .btn-collapse {
        color: hsl(var(--surface-h) var(--s-1) var(--dl-c-1));
        height: $spacer-8;
        width: $spacer-8;
    }
}