.c-notifications {
    bottom: $spacer-1;
    display: flex;
    flex-direction: column-reverse;
    font-family: $font-2;
    font-style: italic;
    font-weight: 400;
    max-width: 400px;
    overflow: hidden;
    position: absolute;
    right: $spacer-1;
    width: 100%;
    z-index: 100000;

    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease-in-out;
    }

    &-enter-from {
        transform: translateY(100px);
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-leave-to {
        transform: translateY(0);
    }

    .notification {
        align-items: center;
        box-shadow: var(--shadow);
        display: flex;
        justify-content: space-between;
        margin: $spacer-1 $spacer-05;

        &.info {
            background: hsl(var(--info-h) var(--s-3) var(--dl-3));
            color: hsl(var(--info-h) var(--s-3) var(--dl-c-3));
        }

        &.warning {
            background: hsl(var(--warn-h) var(--s-3) var(--dl-3));
            color: hsl(var(--warn-h) var(--s-3) var(--dl-c-3));
        }

        &.error {
            background: var(--error-3);
            color: var(--error-8);
        }

        .message {
            align-items: center;
            display: flex;
            flex: 1;
            padding: $spacer-2 $spacer-1;

            .icon {
                height: $spacer-4;
                margin: $spacer-1;
                width: $spacer-4;
            }

            .text-wrapper {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .message-text {

                    .personal {

                        .message-text {
                            font-style: italic;
                            font-weight: 600;
                        }
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: $spacer-1;
                }
            }

            .message-list {
                margin: $spacer-05 0 0 $spacer-2;
                padding: 0;
            }
        }

        .btn-close {
            align-self: flex-start;
            margin-top: $spacer-05;
            opacity: 0.5;
            width: $spacer-4;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.test .c-notifications {
    display: none;
}